
// variables
$color-black-title: hsl(229, 31%, 21%);
$color-primary: hsl(231, 69%, 60%);
$color-default: rgb(238, 238, 238);
$color-danger: hsl(0, 94%, 66%);

// margins

// 20px
$margin-right-20: 20px;
$margin-bottom-20: 20px;
$margin-top-20: 20px;
$margin-left-20: 20px;
// 40px
$margin-right-40: 40px;
$margin-bottom-40: 40px;
$margin-top-40: 40px;
$margin-left-40: 40px;


// paddings
$padding-section: 80px 0;

//paddings
$padding-top-60: 60px;